<!--
version : 2.0.2.4
필요 라이브러리
  - jQuery.js
  - angular.js : https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js
 -->
<style>
#G1sPostList {
  display:none;
  list-style: none;
}
#G1sPostList .g1sNow a {
  font-weight: bold;
}
#G1sPostList .g1sHeader .g1sRight{
  float:right;
}
#G1sPostList .g1sList .g1sTitle {
  clear:both;
}
#G1sPostList .g1sList .g1sInfo a {
  color : green;
}
#G1sPostList .g1sList .g1sInfo .g1sPublished {
  float:right;
}
#G1sPostList .g1sPages {
  text-align: center;
  width: 100%;
}
#G1sPostList .g1sPages ul li {
  display:inline-block
}
#G1sPostList .g1sPages a {
  padding:5px;
}
#G1sPostList input[type=text] {
    width: 200px;
}
</style>

<div ng-controller="G1sPostList" id="G1sPostList">
  <div class="g1sHeader">
    <b class="g1sInfo">{{ label!='' ? 'Label : ' : (q!='' ? '검색 : ' : '전체 리스트') }}</b>
    <a ng-click="goLabel()" ng-show="label != ''" href="javascript:void(0)" class="btn">{{ label }}</a>
    <a ng-click="goLabel()" ng-show="q != ''" href="javascript:void(0)" class="btn">{{ q }}</a>
    <a ng-click="goMonth()" ng-show="pubs != ''" href="javascript:void(0)" class="btn">{{ ('('+(pubs|date:'yyyy-MM')+')') }}</a>
    <span class="g1sRight">
      <select ng-show="q == ''" ng-model="orderby" ng-options="x.value as x.name for x in orders" ng-change="goPage(1)"></select>
      <select ng-hide="q == ''" ng-model="orderby2" ng-options="y.value as y.name for y in orders2" ng-change="goPage(1)"></select>
      <select ng-model="label" ng-change="goLabel(label)">
		<option value="">= 카테고리 =</option>
		<option ng-repeat="category in feed.category" value="{{category.term}}">{{category.term}}</option>
	  </select>
    </span>
    <span class="g1sRight">
      <input type="text" ng-model="tempQ" ng-keypress="search($event)" placeholder="검색어 입력후 Enter를 누르세요"/>
    </span>
  </div>
  <ul class="g1sList">
    <li ng-repeat="post in posts" >
      <div class="g1sTitle {{ (link.href==url?'g1sNow':'a') }}" ng-repeat="link in post.link | filter:{rel:'alternate'} ">
        <a href="{{link.href|url:param}}">{{link.title|decode}} ({{post.thr$total.$t}})</a>
      </div>
      <div class="g1sInfo">
        <span class="g1sCategory">
          <a ng-repeat="category in post.category" ng-click="goLabel(category.term)" href="javascript:void(0)">[{{category.term}}]</a>
        </span>
        <span class="g1sPublished">
          <a ng-click="goMonth(post.published.$t)" href="javascript:void(0)">{{post.published.$t | bdate : 'yyyy-MM-dd HH:mm:ss'}}</a>
        </span>
      </div>
    </li>
  </ul>
  <div ng-show="pages" class="g1sPages">
    <ul>
      <li ng-show="pages[0]!=1"><a ng-click="goPage(pages[0]-1)" href="javascript:void(0)" class="g1sPrev">prev</a></li>
      <li ng-repeat="page in pages" class="g1sPage {{page==now?'g1sNow':''}}">
        <a ng-click="goPage(page)" href="javascript:void(0)">{{page}}</a>
      </li>
      <li ng-show="isNext"><a ng-click="goPage(pages[0]+maxPage)" href="javascript:void(0)" class="g1sNext">next</a></li>
    </ul>
  </div>
</div>

<script>
function G1sPostList(maxPost, maxPage, orderby, orderby2){
  var app = getAngular();
  if(!app) return;
  orderby = orderby||'published'
  orderby2 = orderby2||'published'

  app.controller('G1sPostList', function($scope, $http) {
    { /** init **/
      $scope.url = location.href.indexOf('?')>0?location.href.substr(0, location.href.indexOf('?')):location.href;
      $scope.param = getParam();
      var urls = $scope.url.split("/");
      if(urls.length > 4 && urls[3] == 'search' && urls[4] == 'label'){
    	  $scope.param['g1sLabel'] = decodeURIComponent(urls[5]);
      }
      $scope.maxPost = maxPost;
      $scope.maxPage = maxPage;
      $scope.orderby = ($scope.param['g1sOrder']?$scope.param['g1sOrder']:orderby)||'published';
      $scope.orderby2 = ($scope.param['g1sOrder2']?$scope.param['g1sOrder2']:orderby2)||'search';
      $scope.now = $scope.param['g1sNow']?$scope.param['g1sNow']:1;
      $scope.label = $scope.param['g1sLabel']?$scope.param['g1sLabel']:'';
      $scope.pubs = $scope.param['g1sPubls']?$scope.param['g1sPubls']:'';
      $scope.pube = $scope.param['g1sPuble']?$scope.param['g1sPuble']:'';
      $scope.q = $scope.tempQ= $scope.param['g1sQ']?$scope.param['g1sQ']:'';
      $scope.orders = [{value:'published', name:'게시일순'}, {value:'updated', name:'업데이트순'}];
      $scope.orders2 = [{value:'search', name:'검색순'}, {value:'published', name:'게시일순'}, {value:'updated', name:'업데이트순'}];
      render();
    }
	
    $scope.search = function($event){
    	var keyCode = window.event ? $event.keyCode : $event.which;
    	if(keyCode == 13){
            $scope.label = '';
    		$scope.q = $scope.tempQ;
    		$scope.qMode = false;
    		$scope.goPage(1);
    	}
    };

    /** event func **/
    $scope.goLabel = function(p){
      $scope.label = (!p)?'':p;
      $scope.q = $scope.tempQ = '';
      $scope.goPage(1);
    }

    $scope.goMonth = function(p){
      if(!p){
        $scope.pubs = '';
        $scope.pube = '';
      } else { 
        $scope.pubs = p.substr(0,7)+'-01T00:00:00';
        $scope.pube = p.substr(0,7)+'-31T24:00:00';
      }
      $scope.goPage(1);
    }

    $scope.goYear = function(p){
      if(!p){
        goMonth();
      } else {
        $scope.pubs = p.substr(0,4)+'-01-01T00:00:00';
        $scope.pube = p.substr(0,4)+'-12-31T24:00:00';
      }
      $scope.goPage(1);
    }

    $scope.goPage = function(p){
      $scope.now = p;
      render();
    }

    /** private func **/
    function render(){
      setParam()
	  var url = '/feeds/posts/summary';
      if($scope.q){
          if($scope.qMode){
              return setResult();
          } else {
              url += '?max-results='+500;
              url += $scope.q?('&q='+$scope.q):'';
          }
      } else {
          url += $scope.label?('/-/'+encodeURIComponent($scope.label)):'';
          url += '?max-results='+maxPost;
          url += '&start-index='+(($scope.now-1)*maxPost+1);
          url += $scope.orderby?('&orderby='+$scope.orderby):'';
          url += $scope.pubs?('&published-min='+$scope.pubs+'&published-max='+$scope.pube):'';
      }
      url += '&alt=json';
      $http.get( url ).then( function(res){
          $scope.feed  = res.data.feed;
          setResult();
      });
    }
    
    function setResult(){
        $scope.total = $scope.feed.openSearch$totalResults.$t;
        $scope.pages = getPages($scope.now, maxPost, maxPage, $scope.total);
        $scope.isNext= $scope.pages[0]+(maxPage-1) < $scope.total/maxPost;
        if($scope.q){
        	if(!$scope.qMode){
        		$scope.qMode = true;
            	for(var i=0; i<$scope.feed.entry.length; i++){
            		$scope.feed.entry[i].index = i;
            	}
                $scope.orderby2_ = 'search';
        	}
        	
        	if($scope.orderby2 != $scope.orderby2_){
        		$scope.feed.entry.sort(function(a, b) {
        			if($scope.orderby2 == 'published'){
        				return a.published.$t > b.published.$t?-1:1;
        			} else if($scope.orderby2 == 'updated'){
        				return a.updated.$t > b.updated.$t?-1:1;
	        		} 
	        		return a.index - b.index;
        		});
        		 $scope.orderby2_ = $scope.orderby2;
        	}
        	
        	$scope.posts = [];
        	for(var i=0; i<maxPost; i++){
        		var page = ($scope.now-1) * maxPost + i
        		var post = $scope.feed.entry[page];
        		if(post){
                	$scope.posts.push(post);
        		} else {
        			break;
        		}
        	}
        } else {
        	$scope.qMode = false;
        	$scope.posts = $scope.feed.entry;
        }
        $('#G1sPostList').show();
    }
    
    function getPages(n, m1, m2, t){
      var s = parseInt((n-1)/m2)*m2;
      var e = s+m2;
      if(e>(t-1)/m1+1) e = parseInt((t-1)/m1)+1;
      var r = [];
      for(var i=s+1; i<=e; i++){ r.push(i); }
      return r;
    }

    function setParam(){
      $scope.param.g1sNow    = $scope.now==1?'':$scope.now;
      $scope.param.g1sLabel  = $scope.label;
      $scope.param.g1sPubls  = $scope.pubs;
      $scope.param.g1sPuble  = $scope.pube;
      $scope.param.g1sOrder  = $scope.orderby==orderby?'':$scope.orderby;
      $scope.param.g1sOrder2 = $scope.orderby2==orderby2?'':$scope.orderby2;
      $scope.param.g1sQ      = $scope.tempQ;
    }
  });

  app.filter('url', function() {
    return function(input, param) {
      return addParam(input, param);
    }
  });

  app.filter('decode', function() {
    return function(input, param) {
      return input.replace(/&amp;/g, "&")
        .replace(/&lt;/g, "<")
        .replace(/&gt;/g, ">");
    }
  });

  app.filter('bdate', function() {
    return function(input, param) {
      var d = new Date(input.substr(0, 23));
      return d.format(param);
    }
  });

  function getAngular(){
    var appName = $('[ng-app]').attr('ng-app');
    if(!appName){ appName = 'app'; $('html').attr('ng-app', appName) }
	if(typeof angular == 'undefined') {
      console.log('header에 angular.js를 추가해 주세요.\n<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"/>');
	  return null;
    }
    return angular.module(appName, []);
  }
  function getParam(){
    var u = location.href;
    var p = u.indexOf('?')<0?'':u.substr(u.indexOf('?')+1);
    var p1 = p.split('&');
    var pp = {};
    for(var i=0; i<p1.length; i++){
      var p2 = p1[i].split('=');
      if(p2.length > 1){
        pp[p2[0]] = decodeURIComponent(p2[1]);
      }
    }
    return pp;
  }
  function addParam(u, p){
    var pp = '';
    if(typeof p == 'object'){
      for(var pk in p){
        if(p[pk]){
          pp += pk + '=' + p[pk] + '&';
        }
      }
    } else {
      pp = p;
    }
    return u + (!pp?'':(u.indexOf('?')>0?'&':'?'+pp));
  }
}
/* date format */
if(new Date().format == undefined){
  String.prototype.string = function(len){var s = '', i = 0; while (i++ < len) { s += this; } return s;};
  String.prototype.zf = function(len){return "0".string(len - this.length) + this;};
  Number.prototype.zf = function(len){return this.toString().zf(len);};
  Date.prototype.format = function(f) {
    if (!this.valueOf()) return " ";
 
    var weekName = ["일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일"];
    var d = this;
     
    return f.replace(/(yyyy|yy|MM|dd|E|hh|mm|ss|a\/p)/gi, function($1) {
      switch ($1) {
        case "yyyy": return d.getFullYear();
        case "yy": return (d.getFullYear() % 1000).zf(2);
        case "MM": return (d.getMonth() + 1).zf(2);
        case "dd": return d.getDate().zf(2);
        case "E": return weekName[d.getDay()];
        case "HH": return d.getHours().zf(2);
        case "hh": return ((h = d.getHours() % 12) ? h : 12).zf(2);
        case "mm": return d.getMinutes().zf(2);
        case "ss": return d.getSeconds().zf(2);
        case "a/p": return d.getHours() < 12 ? "오전" : "오후";
        default: return $1;
      }
    });
  };
}
G1sPostList(5, 10, 'published', 'published');
</script>
